apiVersion: v1
kind: Pod
metadata:
  name: k8s-controller-manager
  namespace: kube-system
  annotations:
    scheduler.alpha.kubernetes.io/critical-pod: ''
spec:
  hostNetwork: true
  priorityClassName: system-node-critical
  containers:
    - name: k8s-controller-manager
      image: {{.DockerRegistry}}/giantswarm/kube-controller-manager:v{{ .K8sVersion }}
      command:
      - kube-controller-manager
      - --master=https://{{ .APIDomainName }}:443
      - --logtostderr=true
      - --v=2
      - --cloud-provider=external
      - --external-cloud-volume-plugin={{ .Provider }}
      - --profiling=false
      - --terminated-pod-gc-threshold=10
      - --use-service-account-credentials=true
      - --feature-gates=ExpandPersistentVolumes=true,TTLAfterFinished=true,CSIMigration=true{{ if eq .Provider "aws" }},CSIMigrationAWS=true{{ end }}{{ if eq .Provider "azure" }},CSIMigrationAzureDisk=true{{ end }}
      - --kubeconfig=/etc/kubernetes/kubeconfig/controller-manager.yaml
      - --root-ca-file=/etc/kubernetes/ssl/apiserver-ca.pem
      - --service-account-private-key-file=/etc/kubernetes/ssl/service-account-key.pem
      - --allocate-node-cidrs=true
      - --cluster-cidr={{ .PodCIDR }}
      - --node-cidr-mask-size={{ .NodePodCIDRSize }}
      resources:
        requests:
          cpu: 200m
          memory: 200Mi
      livenessProbe:
        httpGet:
          host: 127.0.0.1
          path: /healthz
          port: 10251
        initialDelaySeconds: 15
        timeoutSeconds: 15
      volumeMounts:
      - mountPath: /etc/kubernetes/ssl/
        name: ssl-certs-kubernetes
        readOnly: true
      - mountPath: /etc/kubernetes/secrets/
        name: k8s-secrets
        readOnly: true
      - mountPath: /etc/kubernetes/kubeconfig/
        name: k8s-kubeconfig
        readOnly: true
      - mountPath: /usr/libexec/kubernetes/kubelet-plugins/volume/exec
        name: flex-volumes-plugin-dir
        readOnly: false
  volumes:
  - hostPath:
      path: /etc/kubernetes/ssl
    name: ssl-certs-kubernetes
  - hostPath:
      path: /etc/kubernetes/kubeconfig
    name: k8s-kubeconfig
  - hostPath:
      path: /etc/kubernetes/secrets
    name: k8s-secrets
  - hostPath:
      path: /var/lib/kubelet/plugins/volume/exec
    name: flex-volumes-plugin-dir
