apiVersion: v1
kind: Pod
metadata:
  name: k8s-api-server
  namespace: kube-system
  annotations:
    scheduler.alpha.kubernetes.io/critical-pod: ''
  labels:
    app.kubernetes.io/name: api-server
    giantswarm.io/service-type: system
    k8s-app: api-server
    tier: control-plane
spec:
  hostNetwork: true
  priorityClassName: system-node-critical
  containers:
    - name: k8s-api-server
      image: {{.DockerRegistry}}/giantswarm/kube-apiserver:v{{ .K8sVersion }}
      command:
      - kube-apiserver
      - --allow-privileged=true
      - --anonymous-auth=true
      - --secure-port=443
      {{ if eq .Provider "aws" -}}
      - --cloud-provider=external
      {{ end -}}
      - --bind-address=0.0.0.0
      - --etcd-prefix=giantswarm.io
      - --authorization-mode=RBAC
      - --enable-admission-plugins=NamespaceLifecycle,LimitRanger,ServiceAccount,ResourceQuota,PodSecurityPolicy,PersistentVolumeClaimResize,DefaultStorageClass,Priority,DefaultTolerationSeconds,MutatingAdmissionWebhook,ValidatingAdmissionWebhook
      - --service-cluster-ip-range={{ .K8SServiceCIDR }}
      - --etcd-servers=https://{{if eq .Provider "azure" }}127.0.0.1{{else}}{{ .ETCDDomainName }}{{end}}:2379
      - --etcd-cafile=/etc/kubernetes/ssl/etcd/server-ca.pem
      - --etcd-certfile=/etc/kubernetes/ssl/etcd/server-crt.pem
      - --etcd-keyfile=/etc/kubernetes/ssl/etcd/server-key.pem
      - --runtime-config=api/all=true
      - --logtostderr=true
      - --profiling=false
      - --service-account-lookup=true
      - --tls-cert-file=/etc/kubernetes/ssl/apiserver-crt.pem
      - --tls-private-key-file=/etc/kubernetes/ssl/apiserver-key.pem
      - --tls-cipher-suites=TLS_AES_128_GCM_SHA256,TLS_AES_256_GCM_SHA384,TLS_CHACHA20_POLY1305_SHA256,TLS_ECDHE_ECDSA_WITH_AES_128_CBC_SHA,TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_ECDSA_WITH_AES_256_CBC_SHA,TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384,TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305,TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305_SHA256,TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA,TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA,TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384,TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305,TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305_SHA256,TLS_RSA_WITH_AES_128_CBC_SHA,TLS_RSA_WITH_AES_128_GCM_SHA256,TLS_RSA_WITH_AES_256_CBC_SHA,TLS_RSA_WITH_AES_256_GCM_SHA384
      - --client-ca-file=/etc/kubernetes/ssl/apiserver-ca.pem
      - --service-account-key-file=/etc/kubernetes/ssl/service-account-key.pem
      - --service-account-signing-key-file=/etc/kubernetes/ssl/service-account-key.pem
      - --service-account-issuer=https://{{ .APIDomainName }}
      - --api-audiences=https://{{ .APIDomainName }}
      - --feature-gates=TTLAfterFinished=true,CSIMigration=true{{ if eq .Provider "aws" }},CSIMigrationAWS=true{{ end }}{{ if eq .Provider "azure" }},CSIMigrationAzureDisk=true{{ end }}
      - --audit-log-path=/var/log/apiserver/audit.log
      - --audit-log-maxage=30
      - --audit-log-maxbackup=30
      - --audit-log-maxsize=100
      - --audit-policy-file=/etc/kubernetes/config/audit-policy.yaml
      - --oidc-issuer-url={{ .OIDCIssuerURL }}
      - --oidc-client-id=dex-k8s-authenticator
      - --oidc-username-claim=email
      - --oidc-groups-claim=groups
      - --requestheader-client-ca-file=/etc/kubernetes/ssl/apiserver-ca.pem
      - --requestheader-allowed-names=aggregator,api.{{ .APIDomainName }},worker.{{ .APIDomainName }}
      - --requestheader-extra-headers-prefix=X-Remote-Extra-
      - --requestheader-group-headers=X-Remote-Group
      - --requestheader-username-headers=X-Remote-User
      - --proxy-client-cert-file=/etc/kubernetes/ssl/apiserver-crt.pem
      - --proxy-client-key-file=/etc/kubernetes/ssl/apiserver-key.pem
      - --max-requests-inflight=${MAX_REQUESTS_INFLIGHT}
      - --max-mutating-requests-inflight=${MAX_MUTATING_REQUESTS_INFLIGHT}
      {{- if .DisableAPIFairness  }}
      - --enable-priority-and-fairness=false
      {{- else }}
      - --enable-priority-and-fairness=true
      {{- end }}
      resources:
        requests:
          cpu: ${CPU_REQUEST}
          memory: ${MEMORY_REQUEST}
        limits:
          cpu: ${CPU_LIMIT}
          memory: ${MEMORY_LIMIT}
      livenessProbe:
        tcpSocket:
          port: 443
        initialDelaySeconds: 15
        timeoutSeconds: 15
      ports:
      - containerPort: 443
        hostPort: 443
        name: https
      volumeMounts:
      - mountPath: /var/log/apiserver/
        name: apiserver-log
      - mountPath: /etc/kubernetes/ssl/
        name: ssl-certs-kubernetes
        readOnly: true
      - mountPath: /etc/kubernetes/config/
        name: k8s-config
        readOnly: true
  volumes:
  - hostPath:
      path: /var/log/apiserver/
    name: apiserver-log
  - hostPath:
      path: /etc/kubernetes/ssl
    name: ssl-certs-kubernetes
  - hostPath:
      path: /etc/kubernetes/config
    name: k8s-config
