.terraform
terraform.tfstate*
/ignition
platforms/aws/giantnetes/bootstrap.sh
platforms/aws/giantnetes/terraform-secrets.yaml
platforms/azure/giantnetes/bootstrap.sh
platforms/azure/giantnetes/terraform-secrets.yaml
terraform.tfvars
.terraform.lock.hcl
platforms/azure/giantnetes/generated/*
