ignition:
  version: "2.2.0"
systemd:
  units:
    - name: update-engine.service
      enabled: false
      mask: true
    - name: locksmithd.service
      enabled: false
      mask: true
    - name: etcd2.service
      enabled: false
      mask: true
    - name: etcd-init.service
      command: stop
      enabled: false
      mask: true
    - name: fleet.service
      enabled: false
      mask: true
    - name: var-lib-etcd.mount
      enabled: false
      contents: |
        [Unit]
        Description=Mount disk to /var/lib/etcd
        Before=etcd.service
        [Mount]
        What=/dev/disk/by-label/var-lib-etcd
        Where=/var/lib/etcd
        Type=ext4
    # Automount etcd dir when first accessed.
    # This allows to avoid hard dependencies.
    - name: var-lib-etcd.automount
      command: start
      enabled: true
      contents: |
        [Unit]
        Description=Automount for etcd volume
        [Automount]
        Where=/var/lib/etcd
        [Install]
        WantedBy=multi-user.target
    - name: var-log.mount
      enabled: true
      contents: |
        [Unit]
        Description=Mount disk to /var/log
        Before=docker.service
        [Mount]
        What=/dev/disk/by-label/var-log
        Where=/var/log
        Type=ext4
    - name: docker.service
      command: start
      dropins:
      - name: 10-giantswarm-extra-args.conf
        contents: |
          [Service]
          Environment=DOCKER_OPTS="--log-opt max-size=50m --log-opt max-file=2 --experimental=true --metrics-addr=0.0.0.0:9323"
          Environment=DOCKER_OPT_BIP=--bip={{ .DockerCIDR }}
      - name: 60-docker-restart-always.conf
        contents: |
          [Service]
          Restart=always
          RestartSec=5
    - name: os-hardening.service
      enabled: true
      contents: |
        [Unit]
        Description=Apply os hardening
        [Service]
        Type=oneshot
        ExecStartPre=-/bin/bash -c "gpasswd -d core rkt; gpasswd -d core docker; gpasswd -d core wheel"
        ExecStartPre=/bin/bash -c "until [ -f '/etc/sysctl.d/hardening.conf' ]; do echo Waiting for sysctl file; sleep 1s;done;"
        ExecStart=/usr/sbin/sysctl -p /etc/sysctl.d/hardening.conf
        [Install]
        WantedBy=multi-user.target

storage:
  filesystems:
    - name: etcd
      mount:
        device: {{if eq .Provider "azure" }}/dev/sdc{{else}}/dev/xvdc{{end}}
        format: ext4
        wipe_filesystem: false
        label: var-lib-etcd
    - name: logs
      mount:
        device: {{if eq .Provider "azure" }}/dev/sdd{{else}}/dev/xvdh{{end}}
        format: ext4
        wipe_filesystem: false
        label: var-log
  files:
    - filesystem: root
      path: /etc/ssh/sshd_config
      mode: 384
      user:
        id: 0
      group:
        id: 0
      contents:
        source: "data:text/plain;charset=utf-8;base64,{{ index .Files "conf/sshd_config" }}"
    - filesystem: root
      path: /etc/sysctl.d/hardening.conf
      mode: 384
      user:
        id: 0
      group:
        id: 0
      contents:
        source: "data:text/plain;charset=utf-8;base64,{{ index .Files "conf/hardening.conf" }}"
passwd:
  users:
  - name: giantswarm
    groups:
    - "sudo"
    - "docker"
{{ range .Users }}
{{- if eq .role "SRE" "PE" "robot" }}
  - name: "{{ .name }}"
    groups:
      - "sudo"
      - "docker"
    sshAuthorizedKeys:
      {{- range .sshAuthorizedKeys }}
      - {{ . }}
      {{- end }}
{{- end }}
{{- end }}
