systemd:
  units:
    - name: update-engine.service
      enabled: false
      mask: true
    - name: locksmithd.service
      enabled: false
      mask: true
    - name: etcd-init.service
      enabled: false
      mask: true
    - name: fleet.service
      enabled: false
      mask: true
    - name: os-hardening.service
      enabled: true
      contents: |
        [Unit]
        Description=Apply os hardening
        [Service]
        Type=oneshot
        ExecStart=-/bin/bash -c "gpasswd -d core rkt; gpasswd -d core docker; gpasswd -d core wheel"
        [Install]
        WantedBy=multi-user.target
    - name: template-ipsec-config.service
      enabled: true
      contents: |
        [Unit]
        Description=oneshot command for filling ip addreses into ipsec configs
        Wants=network-online.target
        After=network-online.target
        Before=strongswan.service

        [Service]
        Type=oneshot
        ExecStart=/opt/bin/template-ipsec-config

        [Install]
        WantedBy=multi-user.target
    - name: setup-iptables.service
      enabled: true
      contents: |
        [Unit]
        Description=oneshot command for setup iptables rules for ipsec
        Wants=network-online.target template-ipsec-config.service
        After=network-online.target template-ipsec-config.service

        [Service]
        Type=oneshot
        ExecStart=/opt/bin/setup-iptables

        [Install]
        WantedBy=multi-user.target
    - name: strongswan.service
      enabled: true
      contents: |
        [Unit]
        Description=strongswan ipsec service running in docker
        Requires=docker.service template-ipsec-config.service
        After=docker.service template-ipsec-config.service

        [Service]
        Environment="NAME=%p.service"
        Environment="IMAGE={{.DockerRegistry}}/giantswarm/docker-strongswan"
        Restart=always
        RestartSec=10
        TimeoutStopSec=10
        ExecStartPre=/usr/bin/docker pull $IMAGE
        ExecStartPre=/bin/bash -c "touch /var/log/charon.log"
        ExecStart=/usr/bin/docker run --rm --net=host --privileged \
                  -v /etc/strongswan/vpn-config.conf:/etc/strongswan/ipsec.d/vpn-config.conf \
                  -v /etc/strongswan/ipsec.secrets:/etc/strongswan/ipsec.secrets \
                  -v /var/log/charon.log:/var/log/charon.log \
                  --name $NAME $IMAGE 
        ExecStop=-/usr/bin/docker stop -t 10 $NAME

        [Install]
        WantedBy=multi-user.target
storage:
  files:
    - path: /opt/bin/template-ipsec-config
      filesystem: root
      mode: 0700
      contents:
        inline: |
          #!/bin/bash 
          while ! curl --connect-timeout 5 http://169.254.169.254 >/dev/null; do sleep 1s; echo "waiting for vpc endpoint"; done;

          PRIVATE_IP=$(curl http://169.254.169.254/latest/meta-data/local-ipv4) 
          PUBLIC_IP=$(curl http://169.254.169.254/latest/meta-data/public-ipv4)

          sed -i "s/__PRIVATE_IP__/${PRIVATE_IP}/g" /etc/strongswan/vpn-config.conf /etc/strongswan/ipsec.secrets /opt/bin/setup-iptables
          sed -i "s/__PUBLIC_IP__/${PUBLIC_IP}/g" /etc/strongswan/vpn-config.conf /etc/strongswan/ipsec.secrets

          echo "Files /etc/strongswan/vpn-config.conf /etc/strongswan/ipsec.secrets succesfully templated."

    - path: /opt/bin/setup-iptables
      filesystem: root
      mode: 0700
      contents:
        inline: |
          iptables -t nat -A POSTROUTING -d {{.ExternalVpnGridscaleSourceIp}}/32 -j SNAT --to-source __PRIVATE_IP__
          iptables -t nat -A POSTROUTING -j MASQUERADE -s {{.ExternalVpnGridscaleSourceIp}}
          iptables -t nat -A POSTROUTING -d {{.ExternalVpnVultrSourceIp}}/32 -j SNAT --to-source __PRIVATE_IP__
          iptables -t nat -A POSTROUTING -j MASQUERADE -s {{.ExternalVpnVultrSourceIp}}

    - path: /etc/strongswan/vpn-config.conf
      filesystem: root
      mode: 0600
      contents:
        inline: |
          conn gridscale
             left=__PRIVATE_IP__
             leftid=__PUBLIC_IP__
             leftsubnet=172.19.4.0/28
             right={{.ExternalVpnGridscaleIp}}
             rightsubnet={{.ExternalVpnGridscaleSubnet}}
             keyexchange=ikev2
             forceencaps=yes
             auto=start
          conn vultr
             left=__PRIVATE_IP__
             leftid=__PUBLIC_IP__
             leftsubnet=172.19.4.0/28
             right={{.ExternalVpnVultrIp}}
             rightsubnet={{.ExternalVpnVultrSubnet}}
             keyexchange=ikev2
             forceencaps=yes
             auto=start
          
    - path: /etc/strongswan/ipsec.secrets
      filesystem: root
      mode: 0600
      contents:
        inline: |
          __PRIVATE_IP__ {{.ExternalVpnGridscaleIp}} : PSK "{{.ExternalVpnGridscalePassword}}"
          __PRIVATE_IP__ {{.ExternalVpnVultrIp}} : PSK "{{.ExternalVpnVultrPassword}}"
{{ .BastionUsers }}
