kind: KubeletConfiguration
apiVersion: kubelet.config.k8s.io/v1beta1
address: ${DEFAULT_IPV4}
enableServer: true
port: 10250
healthzBindAddress: ${DEFAULT_IPV4}
healthzPort: 10248
cgroupDriver: systemd
clusterDNS:
  - {{ .K8SDNSIP }}
clusterDomain: {{ .ClusterDomain }}
featureGates:
  ExpandPersistentVolumes: true
staticPodPath: /etc/kubernetes/manifests
kernelMemcgNotification: true
evictionSoft:
  memory.available:  "500Mi"
evictionHard:
  memory.available:  "200Mi"
evictionSoftGracePeriod:
  memory.available:  "5s"
evictionMaxPodGracePeriod: 60
maxPods: 110
authentication:
  anonymous:
    enabled: true # Defaults to false as of 1.10
  webhook:
    enabled: false # Deafults to true as of 1.10
authorization:
  mode: AlwaysAllow # Deafults to webhook as of 1.10
# improve image pulls in china
serializeImagePulls: false
registryPullQPS: 2
registryBurst: 3
registerWithTaints:
- effect: "NoExecute"
  key: "node.cilium.io/agent-not-ready"
  value: "true"
